#Aven banner {
    width: 100%;
    height: 500px;
    padding: none;
    padding-left: 0px;
}

.Grid {
    display: grid;
    width: 1300px;
    height: 950px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 20px;
    padding-left: 250px;
}

.Grid img {
    height: 200px;
    width: 200px;
}

}

body {
    text-align: center;
    background-clip:
}
